<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy (1).gif</key>
            <dict>
                <key>frame</key>
                <string>{{108,757},{104,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (10).gif</key>
            <dict>
                <key>frame</key>
                <string>{{332,153},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (11).gif</key>
            <dict>
                <key>frame</key>
                <string>{{222,153},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (12).gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,153},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (13).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (14).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (15).gif</key>
            <dict>
                <key>frame</key>
                <string>{{326,304},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (16).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{104,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (2).gif</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (3).gif</key>
            <dict>
                <key>frame</key>
                <string>{{110,304},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (4).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{106,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (5).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (6).gif</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (7).gif</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (8).gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>enemy (9).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f034f750d35f247581ce73ea1a080ff$</string>
            <key>textureFileName</key>
            <string>enemy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
