<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0.gif</key>
            <dict>
                <key>frame</key>
                <string>{{652,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{522,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_10.gif</key>
            <dict>
                <key>frame</key>
                <string>{{392,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_11.gif</key>
            <dict>
                <key>frame</key>
                <string>{{262,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_12.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,860},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_13.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,717},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_14.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,574},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_15.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,431},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_16.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,288},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_17.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_18.gif</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_19.gif</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_20.gif</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_21.gif</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_22.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_5.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_6.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_7.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_8.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_9.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,141}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad394b33cb3607e30d1ef61f1e63e4d$</string>
            <key>textureFileName</key>
            <string>explosion1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
