<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,599},{60,65}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{60,65}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{364,587},{108,93}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{108,93}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_10.gif</key>
            <dict>
                <key>frame</key>
                <string>{{262,125},{128,119}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{128,119}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_11.gif</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,121}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{128,121}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_12.gif</key>
            <dict>
                <key>frame</key>
                <string>{{256,375},{124,123}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{124,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_13.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{122,127}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{122,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_14.gif</key>
            <dict>
                <key>frame</key>
                <string>{{382,460},{122,125}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{122,125}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_15.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,127}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_16.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_17.gif</key>
            <dict>
                <key>frame</key>
                <string>{{132,131},{126,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{126,129}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_18.gif</key>
            <dict>
                <key>frame</key>
                <string>{{130,262},{124,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{124,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_19.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{124,125}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{124,125}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{108,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{108,93}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_20.gif</key>
            <dict>
                <key>frame</key>
                <string>{{386,331},{124,127}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_21.gif</key>
            <dict>
                <key>frame</key>
                <string>{{260,246},{124,127}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_22.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{126,123}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{236,597},{108,89}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{108,89}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{254,500},{108,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{108,95}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_5.gif</key>
            <dict>
                <key>frame</key>
                <string>{{392,224},{112,105}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{112,105}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_6.gif</key>
            <dict>
                <key>frame</key>
                <string>{{392,115},{112,107}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{112,107}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_7.gif</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,111}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,111}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_8.gif</key>
            <dict>
                <key>frame</key>
                <string>{{128,391},{124,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{124,111}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>frame_9.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{128,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2358b0c9c388a498d2467654df2a5c24$</string>
            <key>textureFileName</key>
            <string>explosion1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
