<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0.gif</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{59,75}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,70},{59,75}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{230,891},{107,131}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{107,131}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_10.gif</key>
            <dict>
                <key>frame</key>
                <string>{{143,396},{139,187}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{139,187}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_11.gif</key>
            <dict>
                <key>frame</key>
                <string>{{294,390},{139,189}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{139,189}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_12.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{129,159}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{129,159}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_13.gif</key>
            <dict>
                <key>frame</key>
                <string>{{133,585},{123,159}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{123,159}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_14.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{121,155}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{121,155}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_15.gif</key>
            <dict>
                <key>frame</key>
                <string>{{339,744},{119,157}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{119,157}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_16.gif</key>
            <dict>
                <key>frame</key>
                <string>{{125,746},{113,143}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{113,143}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_17.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{113,115}}</string>
                <key>offset</key>
                <string>{-4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_18.gif</key>
            <dict>
                <key>frame</key>
                <string>{{117,901},{111,111}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{284,581},{123,161}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{123,161}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,203}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{153,203}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{139,189}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{139,189}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_5.gif</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{145,203}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{145,203}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_6.gif</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{145,201}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{145,201}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_7.gif</key>
            <dict>
                <key>frame</key>
                <string>{{149,207},{143,187}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{143,187}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_8.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{145,183}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{145,183}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
            <key>frame_9.gif</key>
            <dict>
                <key>frame</key>
                <string>{{304,205},{145,183}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{145,183}}</string>
                <key>sourceSize</key>
                <string>{157,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33779864c687e32c90b742be8c1163ff$</string>
            <key>textureFileName</key>
            <string>explosion2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
