<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosionX (1).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,677},{48,49}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,168},{48,49}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (10).gif</key>
            <dict>
                <key>frame</key>
                <string>{{440,1881},{104,165}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,90},{104,165}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (11).gif</key>
            <dict>
                <key>frame</key>
                <string>{{334,1670},{128,209}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{128,209}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (12).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{128,209}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{128,209}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (13).gif</key>
            <dict>
                <key>frame</key>
                <string>{{180,1662},{152,253}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{152,253}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (14).gif</key>
            <dict>
                <key>frame</key>
                <string>{{180,1407},{152,253}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{152,253}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (15).gif</key>
            <dict>
                <key>frame</key>
                <string>{{368,1124},{176,279}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{176,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (16).gif</key>
            <dict>
                <key>frame</key>
                <string>{{742,1120},{176,279}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{176,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (17).gif</key>
            <dict>
                <key>frame</key>
                <string>{{374,568},{184,273}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{184,273}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (18).gif</key>
            <dict>
                <key>frame</key>
                <string>{{562,566},{184,273}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{184,273}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (19).gif</key>
            <dict>
                <key>frame</key>
                <string>{{748,564},{184,275}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{184,275}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (2).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,428},{80,81}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{80,81}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (20).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,275}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,275}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (21).gif</key>
            <dict>
                <key>frame</key>
                <string>{{748,285},{184,277}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{184,277}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (22).gif</key>
            <dict>
                <key>frame</key>
                <string>{{562,285},{184,279}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{184,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (23).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{184,279}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{184,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (24).gif</key>
            <dict>
                <key>frame</key>
                <string>{{188,287},{184,281}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (25).gif</key>
            <dict>
                <key>frame</key>
                <string>{{376,285},{184,281}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (26).gif</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{184,281}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (27).gif</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{184,281}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (28).gif</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{184,283}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{184,283}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (29).gif</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{184,281}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (3).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,248},{80,89}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{80,89}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (30).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{184,281}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{184,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (31).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{182,279}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{182,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (32).gif</key>
            <dict>
                <key>frame</key>
                <string>{{188,570},{182,281}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{182,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (33).gif</key>
            <dict>
                <key>frame</key>
                <string>{{560,841},{180,281}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{180,281}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (34).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{180,279}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{180,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (35).gif</key>
            <dict>
                <key>frame</key>
                <string>{{186,853},{180,279}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (36).gif</key>
            <dict>
                <key>frame</key>
                <string>{{372,843},{180,279}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{180,279}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (37).gif</key>
            <dict>
                <key>frame</key>
                <string>{{742,841},{178,277}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,277}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (38).gif</key>
            <dict>
                <key>frame</key>
                <string>{{184,1134},{176,271}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,271}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (39).gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{176,269}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,269}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (4).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,598},{74,77}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,154},{74,77}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (40).gif</key>
            <dict>
                <key>frame</key>
                <string>{{546,1124},{174,269}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{174,269}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (41).gif</key>
            <dict>
                <key>frame</key>
                <string>{{546,1395},{172,263}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{172,263}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (42).gif</key>
            <dict>
                <key>frame</key>
                <string>{{362,1405},{170,263}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{170,263}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (43).gif</key>
            <dict>
                <key>frame</key>
                <string>{{984,677},{16,15}}</string>
                <key>offset</key>
                <string>{74,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (44).gif</key>
            <dict>
                <key>frame</key>
                <string>{{1002,677},{14,13}}</string>
                <key>offset</key>
                <string>{74,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,15},{14,13}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (5).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,511},{78,85}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,150},{78,85}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (6).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,339},{80,87}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,148},{80,87}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (7).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,125},{84,121}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{84,121}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (8).gif</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{84,121}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{84,121}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>explosionX (9).gif</key>
            <dict>
                <key>frame</key>
                <string>{{334,1881},{104,165}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,90},{104,165}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosionx.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6214bfb2cf756d52e4b6e67de1c605f2$</string>
            <key>textureFileName</key>
            <string>explosionx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
