<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>frame_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>frame_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>frame_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fab075cc4cd8a8bbbccb1b9f75d1ecb$</string>
            <key>textureFileName</key>
            <string>fighter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
