<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Props_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{21,169},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>Props_11.gif</key>
            <dict>
                <key>frame</key>
                <string>{{100,169},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Props_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{21,83},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>Props_21.gif</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
            <key>Props_23.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{17,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,164}}</string>
                <key>sourceSize</key>
                <string>{17,164}</string>
            </dict>
            <key>Props_28.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,20}}</string>
                <key>sourceSize</key>
                <string>{212,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseSprite.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6979ba190d53bb73bb3bac2ddfff446b$</string>
            <key>textureFileName</key>
            <string>baseSprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
